* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, sans-serif;
}

h1 {
  font-size: 4rem;
}

h5 {
  font-size:
}

h1, h5 {
  font-family: 'Noto Serif', serif;
}

.header-container {
  background-color: rgb(0, 0, 63);
  color: white;
}

.header-container div {
  display: flex;
  align-items: center;
  position: relative;
  left: 4rem;
  gap: 1.5rem;
}






